@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin colonne {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
}

@mixin space-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin colonne1 {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

@mixin colonnecenter{
  display: flex;
  flex-direction: column;
  align-items: center;
}


@mixin creatBgText($topPos, $leftPos, $fontSize, $colorText) {
  position: absolute;
  top: $topPos;
  left: $leftPos;
  font-size: $fontSize;
  opacity: 0.1;
  color: $colorText;
}
