body {
<<<<<<< HEAD
    min-height: 100vh;
    max-width: 100vw;
    color:$white;
}
=======
  min-height: 100vh;
  max-width: 100vw;
  font-family: $fontFamily;
  font-weight: 400;
}
>>>>>>> 9990395b996919cf8c204c043740ae6b10abf725
