footer {
    background: url(../assets/img/footer/img-ng-footer.jpg);
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 4rem 10rem;

    .section-title-footer {
        display: flex;
        justify-content: center;
    }

    .section-footer-list {
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: 1fr;
        width: 100%;
        gap: 0 2rem;
        padding: 4rem 0;

        & ul {
             li {
                padding: 0.5rem 0;
                line-height: 30px;
            }
        }

        .flex-double {

            grid-column: 3 / 5;
            padding: 0 2rem;
            & form {
                & input {
                    padding: 0.5rem 1rem;
                    width: 90%;
                    height: 60px;
                    outline: none;
                    font-size: 18px;
                }
            }
        }

        .contact-list {
            grid-column: 5 / 7;
            padding: 0 3rem;
        }
    }

    .separator-footer {
        height: 2px;
        width: 70%;
        background: rgba(255, 255, 255, 0.5);
        margin: 0 auto;
        margin-bottom: 3rem;
    }

    .section-copyright {
        display: flex;
        justify-content: space-between;

        .copyright-icon-list {
            display: flex;
            gap: 1rem;
        }
    }
}