header{
    height: 100vh;
    background:$bg-nav;

    .navbar{
        @include space-around;
        padding: 2%;

        .logo{
            margin-left: 1%;
        }
        ul{
            @include space-around();
            width: 30%;

            .nav-links{
                @include center();
                .nav-active{
                    color:$gold;
                    font-size: $font-nav;
                }
                .nav-link{
                    color:$white;
                    font-size: $font-nav;
                }
            }
        }
        .tel{
            @include center();
            width: 10%;
            #tel{
                font-size: $font-nav;
            }
        }

        .bouton-nav{
            @include space-between();
            background-color: $gold;
            padding: 12px;
            border-radius: 5px;
            width: 12%;
            .reservation{
                font-size: $font-nav;
                color: $white;
            }
        }
    }
    .fleche{
        position: relative;
        top:150px;
        left:650px ;
    }
    .section-nav{
        @include colonne();
        position: relative;
        width: 40%;
        left: 10%;
        height: 60%;

        h1{
            font-size: $fonth1;
            width: 30%;
            font-family: $fontFamily;
        }
        .bouton2{
            @include space-around();
            width: 45%;
            padding: 2%;
            border: solid $white-transparent 2px;
            border-radius: 5px;
            p{
                font-size: $font-nav;
                font-family: $fontFamily;
                color: $white;
            }
        }
    }
}