header{
    height: 100vh;
    background:$bg-nav;
    background-size: cover;
    

    .navbar{
        @include space-around;
        padding: 2%;

        .logo{
            margin-left: 1%;
        }
        ul{
            @include space-around();
            width: 30%;

            .nav-links{
                @include center();
                .nav-active{
                    color:$gold;
                    font-size: $font-nav;
                }
                .nav-link{
                    color:$white;
                    font-size: $font-nav;
                }
            }
        }
        .nav-nav-bar{
            @include space-around();
            width: 25%;
            .tel{
                @include center();
                width: 10%;
                #tel{
                    font-size: $font-nav;
                }
            }
    
            .bouton-nav{
                @include space-around();
                background-color: $gold;
                padding: 2%;
                border-radius: 5px;
                width: 50%;
                .reservation{
                    font-size: $font-nav;
                    color: $white;
                }
            }
        }
       .bg-menu{
        width: 35px;
        display: none;
       }
    }
    .fleche{
        position: relative;
        top:15%;
        left:34%; ;
    }
    .section-nav{
        @include colonne();
        position: relative;
        width: 40%;
        left: 10%;
        height: 60%;

        h1{
            font-size: $fonth1;
            width: 30%;
            font-family: $fontFamily;
        }
        .bouton2{
            @include space-around();
            width: 45%;
            padding: 1%;
            border: solid $white-transparent 2px;
            border-radius: 5px;
            p{
                font-size: $font-nav;
                font-family: $fontFamily;
                color: $white;
            }
        }
    }
}